<template>
  <div class="cover">
    <div class="cover-actions">
      <actions
        @delete="$emit('delete', $event)"
        @copy="$emit('copy')"
      />
      <div class="add-file">
        <div class="add-file_wrapper">
          <button class="content">
            <span class="add">Change Image</span>
          </button>
          <input
            type="file"
            id="upload"
            title=""
            class="add-file_input"
            @change="changeHandler"
          >
        </div>
      </div>
    </div>

    <div class="wrap">
      <img class="img" :src='img'/>
      <div class="content">
        <textarea
          v-model="header"
          class="header"
        />
        <textarea
          v-model="text"
          class="description"
        />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CoverBlock',
    data () {
      return {
        change: false,
        img: 'src/assets/img1.jpg',
        header: 'Bring your ideas to life',
        text: 'Anything you\'ve even dreamed about is possible to just at the moment when you decided to win.Anything you\'ve even dreamed about is possible to just at the moment when you decided to win.Anything you\'ve even dreamed about is possible to just at the moment when you decided to win.'
      }
    },
    methods: {
      changeHandler(e) {
        this.img = URL.createObjectURL(e.target.files[0])
      }
    }
  }
</script>

<style lang="scss">
  .add-file {
    width: 120px;
    margin-left: 4px;
    &_wrapper {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 59px;
    }
    &_input {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 59px;
      padding: 0;
      cursor: pointer;
    }
    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 59px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      .add {
        font-weight: normal;
      }
      .all {
        font-size: 12px;
        font-weight: normal;
        line-height: 24px;
        color: #999999;
        margin-top: -5px;
      }
    }

  }
  .cover {
    position: relative;
    padding: 70px 0;
    &-actions {
      display: flex;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  .img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    textarea {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
      text-align: center;
      resize: none;
    }
    .header {
      height: 150px;
      font-size: 56px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .description {
      padding: 10px;
      height: 300px;
      font-size: 20px;
    }
  }
  .change {
    margin-left: 4px;
  }
</style>
