<template>
  <div class="image">
    <picture-input
      width="800"
      height="600"
      accept="image/jpeg,image/png"
      size="10"
      :removable="true"
    />
    <actions
      class="image-actions"
      @delete="$emit('delete', $event)"
      @copy="$emit('copy')"
    />
  </div>
</template>

<script>
  export default {
    name: 'ImageBlock',
  }
</script>

<style lang="scss">
  .image {
    position: relative;
    padding: 50px 10px;
    &-actions {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
</style>
