<template>
  <div class="text">
<!--    <vue-editor v-model="text" />-->
    <textarea
      v-model="text"
      class="text-input"
    />
    <actions
      class="text-actions"
      @delete="$emit('delete')"
      @copy="$emit('copy')"
    />
  </div>
</template>

<script>
  export default {
    name: 'TextBlock',
    data () {
      return {
        text: "Book design is the art of incorporating the content, style, format, design, and sequence" +
          " of the various components of a book into a coherent whole. In the words of Jan, \"" +
          "methods and rules upon which it is impossible to improve, have been developed over centuries. " +
          "To produce perfect books, these rules have to be brought back to life and applied.\" " +
          "Front matter, or preliminaries, is the first section of a book, and is usually the smallest" +
          " section in terms of the number of pages. " +
          "Each page is counted, but no folio or page number is expressed, or printed," +
          " on either display pages or blank pages."
      }
    },
  }
</script>

<style lang="scss">
.text {
  position: relative;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-actions {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &-input {
    width: 50%;
    padding: 10px;
    height: 300px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    &:focus {
      background-color: #F5F5F5;
    }
  }
}
</style>
