<template>
  <div class="main">
    <div v-if="!showTools" class="create">
      <h1 class="create-header">Create new page</h1>
      <div class="create-btn" @click="create">Create</div>
    </div>
    <div
      v-for="(item, i) in page"
      :key="i"
    >
      <component
        :is="item"
        class="line"
        @delete="deleteComponent(i)"
        @copy="copyComponent(i, item)"
      />
    </div>

    <div v-if="showTools" :class="page.length > 0 ? 'tools line' : 'tools'">
      <div
        v-for="(item, i) in tools"
        :key="i"
        class="tools-btn"
        @click="add(item)"
      >
        {{item.name}}
      </div>
    </div>
  </div>
</template>

<script>
  import TextBlock from "./components/Text";
  import ImageBlock from "./components/Image";
  import CoverBlock from "./components/Cover";

  export default {
    components: {
      'app-text': TextBlock,
      'app-image': ImageBlock,
      'app-cover': CoverBlock,
    },
    data () {
      return {
        showTools: false,
        page: [],
        tools: [
          {name: 'Text', component: TextBlock},
          {name: 'Image', component: ImageBlock},
          {name: 'Cover', component: CoverBlock}
        ]
      }
    },
    methods: {
      create() {
        this.showTools = true
      },
      add(item) {
        this.page.push(item.component)
      },
      deleteComponent(i) {
        this.page.splice(i,1)
      },
      copyComponent(i, item) {
        this.page.splice(i, 0, item)
      },
    }
  }
</script>

<style lang="scss">

  .create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    &-header {
      text-transform: capitalize;
      font-size: 32px;
      margin: 0 0 20px;
    }
    &-btn {
      width: 200px;
      padding: 20px;
      border: 1px solid #20B2AA;
      border-radius: 50px;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      background-color: #20B2AA;
      color: #fff;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        background-color: #fff;
        color: #20B2AA;
      }
    }
  }
  .line {
    border-top: 1px dashed #999999;
  }
  .tools {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-btn {
      width: 80px;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      background-color: #C0C0C0;
      color: #fff;
      border-radius: 4px;
      & + & {
        margin-left: 10px;
      }
      &:hover {
        transition: 0.3s;
        background-color: #ccc;
      }
    }
  }
</style>
