<template>
  <div>
    <button class="delete" @click="$emit('delete')">
      <img class="icon" src="src/assets/delete.svg" />
    </button>
    <button class="copy" @click="$emit('copy')">
      <img class="icon" src="src/assets/copy.svg" />
    </button>
  </div>
</template>

<script>
  export default {
    name: 'actions',
  }
</script>

<style lang="scss">
  button {
    padding: 10px;
    cursor: pointer;
  }
  .icon {
    width: 32px;
  }

</style>
